recursive-include pretalx_sso/static *
recursive-include pretalx_sso/templates *
exclude pretalx_sso/locale/django.pot
recursive-include pretalx_sso/locale *
recursive-include pretalx_sso *.py
include Makefile
