{% load i18n %}
<div>
    <fieldset class="m-2">
        <legend>{% translate "Social Login Connections" %}</legend>
        <div class="mb-4">
            <p>{% translate "You have connected the following social accounts to your profile:" %}</p>
            {% if associated_accounts %}
                <div class="row">
                    <ul>
                        {% for provider_display_name, user_social_account in associated_accounts %}
                            <li>
                                {{ provider_display_name }} ({{ user_social_account.uid }})
                                <form method="post" action="{% url 'plugins:pretalx_social_auth:disconnect' user_social_account.provider %}" style="display: inline;">
                                    <button type="submit" class="btn btn-link p-0 align-baseline">{% translate "Disconnect" %}</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <p>{% translate "You don't have any API tokens yet." %}</p>
            {% endif %}
        </div>
    </fieldset>
</div>